*~
*.lo
*.o
*.in
Makefile
.deps
*.swp
aclocal.m4
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.libs
*.la
stamp-h1
autom4te.cache
liboil-0.3-uninstalled.pc
liboil-0.3.pc
liboil-uninstalled.pc
liboil.pc
patch
core
