audioresample/test_functable1
example1
huffman/huffman_test
jit/jit
jpeg/jpeg_rgb_test
jpeg/jpeg_test
md5/md5sum
memcpy-speed
oil-bugreport
oil-graph
oil-inspect
oil-mt19937
oil-random
oil-suggest
oil-test
printcpu
report
taylor/example1
uberopt/uberopt
work/work
